body{
  background-color: #000;
}

.heading{
  font-weight: 700;
  font-size: calc(1rem* 0.8);
  font-family:"Arial", sans-serif;
  color: #ffffff;
  text-shadow: 2px 0px #3a1212, -2px 0px #3a1212, 0px 2px #3a1212, 0px -2px #3a1212;
}